<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Classroom</title>
</head>
<body>
    <table border="2">
  <tr>
    <td>NSC</td>
    <td>EMAIL</td>
    <td>Action</td> 
  </tr>
{% for etudiant in etudiant %}
<tr>
<td>{{etudiant.nsc}}</td>
<td>{{etudiant.email}}</td>
<td>
  
  <a href="{{path('suppc',{'nsc':etudiant.nsc})}}">supprimer</a>
  <a href="{{path('updateS',{'nsc':etudiant.nsc})}}">modifier</a>
</td>


</tr>


{% endfor %}

</table>
<a href="{{path('addclassroom')}}">ajouter</a>
</body>
</html>